doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Weather Application
        link(rel= 'stylesheet', href="styles/style.css")
        
        
    body 
        #container
         header
            h2 Weather for #{name}, #{region}
            <a href="/" title="Homepage">
             img(src= icon)
            </a>
            h2 Current Temperature: #{temp_f} F
            h2 Current Condition: #{condition}
            h2 Humidity: #{humidity}%
         main
            br 
            form(action='/location' method="POST")  
                label(for="search") Search Again? Click Weather Icon  
         footer 
         